root = true

[*.c]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.h]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[makefile]
end_of_line = lf
indent_style = tab
